<!--<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello World</title>
        <style>
            html, body {
                width: 1920px;
                height: 100%;
                margin: 0;
                padding: 0;
               
            }       
          </style>
    </head>
    <body>
      <div class="top">
<div class="topnav">
  <a href="#home">Home</a>
  <a class="active" href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
</div>

<div Class ="Back1">
  <img class="back1" src="E:\งาน\รูป\go.gif"/>
</div>

<div class ="H1">
  <a class ="h1">LATEST NEWS</a>
</div>

<div class="NEW1">
    <img src="E:\งาน\รูป\1.png"/>
   <div class="n1">
  <H1><a href ="#">ข่าว1</a></H1>
</div>
</div>
<div class="Info">
  <a class ="info">text text text text text text text text text</a>
</div>


<div class="NEW2">
    <img src="E:\งาน\รูป\2.jpg"/>
     <div class="n2">
      <H1><a href ="#">ข่าว2</a></H1>
        </div>
         </div>
         <div class="Info2">
          <a class ="info2">text text text text text text text text text</a>
        </div>

     <div class="NEW3">
        <img src="E:\งาน\รูป\3.png"/>
      <div class="n3">
         <H1> <a href ="#">ข่าว3</a>    </H1>
        </div>
        </div>
        <div class="Info3">
          <a class ="info3">text text text text text text text text text</a>
        </div>

      <div class="NEW4">
          <img src="E:\งาน\รูป\4.png"/>
          <div class="n4">
          <h1><a href="#">ข่าว4</a></h1>
          </div>
        </div>
        <div class="Info4">
          <a class ="info4">text text text text text text text text text</a>
        </div>


          <div class="N99">
          </div>             

              <img class="GG" src="E:\งาน\รูป\a.jpg" >

<div class="tab">
    <a class="tablinks"href="https://www.facebook.com/">tab </a>
    <a class="tablinks"href="https://www.facebook.com/">tab2 </a>
    <a class="tablinks"href="https://www.facebook.com/">tab3 </a>
</div>
<a class="button"href="https://www.facebook.com/"><span>more </span></a>
              <a class="button2"href="https://www.facebook.com/"><span>more </span></a>
              <a class="button3"href="https://www.facebook.com/"><span>more</span></a>
              <a class="button4"href="https://www.facebook.com/"><span>more</span></a>

<div class="botbar">
<a href="#" class="next">Next &raquo;</a>
<a href="#" class="previous">&laquo; Previous</a>
</div>
-->

              