img.headPhoto{ 
    image-resolution: 1200dpi;
    width: 1900px;
    height: 800px;
    display: none;
}
.H1 a {
    color: rgb(250, 250, 250);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 100px;
    position: absolute;
    top: 650px;
    left:50px;
}
.head_controller{
    position: absolute;
    top: 450px;
}